@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.App {
  width: 100%;
  min-height: 100vh;
}
/* From Uiverse.io by cssbuttons-io */ 
#button-Add {
  --color: #560bad;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
}

#button-Add:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

#button-Add:hover {
  color: #fff;
}

#button-Add:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

#button-Add:hover:before {
  top: -30px;
  left: -30px;
}

#button-Add:active:before {
  background: #3a0ca3;
  transition: background 0s;
}
